#ignore all aux files created locally, we remake on overleaf
*.aux
*.bbl
*.blg
*.log
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
templates_manuscript*.pdf

*.ipynb_checkpoints
*.zip
.DS_Store
*.db
# results/n_visits_4
results/n_visits_3
results/tmp
results/objects_in_field
comments
